.header {
  box-sizing: border-box;
  padding: 16px 32px;
  background-color: #212529;
  font-weight: 600;
}

.navbar {
  display: flex;
  height: 28px;
}

.brand-logo {
  margin: -4px 16px -4px 3px;
}

.searchline {
  position: relative;
  margin-right: 16px;
}

.d-flex {
  height: 28px;
  width: 272px;
  min-height: 28px;
}

.form-control {
  background-color: #212529;
}

.container-fluid {
  padding: 0;
}

.avatar {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}

.dropdown-menu {
  position: relative;
  right: 0;
  width: 180px;
}
