/* .header {
  display: flex;
  flex-direction: row;
  padding: 16px 32px;
  align-self: stretch;
  align-items: center;
  flex-wrap: nowrap;
}
.container {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.col {
  display: flex;
  flex-direction: row;
}

.header-logo {
}

.search-form {
}

.nav {
  flex-wrap: nowrap;
}

.navbar {
}

.right-menu {
  display: flex;
  flex-direction: row;
}

.notifications {
  padding: 16px 0;
} */
