
.main{
  background-color: #f6f8fa;
  height: 800px;
}


.aside-left {
  background-color: #ffffff;
  padding: 0 32px;
  max-width: 350px;
  border-right: 1px solid #d0d7de;
}

.left-aside-head {
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  justify-content: space-between;
  align-content: center;
}

.nav {

}

.start {
  display: flex;
  flex-direction: row;
  height: 21px;
  color: #57606a;
}

.aside-search {
  background-color: #f6f8fa;
 padding: 5px 12px;
}

.search-place{
  margin: 8px 0 16px 0;
}

.flex-column {
  margin-top: 32px;

}

.btn-primary {
  background-color: #2da44e;
  height: 28px;
  padding: 3px 12px;
}

.aside-top-text {

  font-size: 14px;
  line-height: 21px;
}


.links {
  height: 16px;
  width: 16px;
}

.recent-activity{
font-size: 14px;
margin-top: 24px;
}

.activities{
  padding: 16px;
  margin: 8px 0 2px 0;
  border: 1px dashed #d0d7de;
  color: #57606a;
  font-size: 12px;
}

.pages {
  padding: 0;
  color: #24292f;
  margin-top: 8px;
}

.pages:hover {
  text-decoration: underline;
  color: #24292f;
}

.btn-link{
  padding: 0;
  margin-top: 16px;
  font-size: 12px;
  color: #57606a;
  text-decoration: none;
}

.btn-link:hover{
 color: #0969da;
}

h1 {
  font-size: 32px;
}

.center {
  padding: 0 24px;
  margin-top: 16px;
}

.phrase{
  margin-bottom: 8px;
}

.tag{
  background-color: #afb8c1;
  border-radius: 50%;
  box-sizing: border-box;
  height: 32px;
  width: 32px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.tag img{
  height: 16px;
  width: 16px;
}

.welcome-text{
  color: #57606a;
  font-size: 14px;
  margin-bottom: 10px;
}

.writing{
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  height: 32px;
  align-items: center ;
}

.block-top{
  display: flex;


}

.card{
  border: 1px solid #d0d7de;
}

.cards-middle{
  display: flex;
  width: 100%;
  height: 138px;
  justify-content: space-between;

}

.cards-bottom{
  display: flex;
  width: 100%;
  height: 226px;
  justify-content: space-between;

}
.info{
  padding: 16px;
  display: flex;
  flex-direction: column;
 width: 50%;
 height: 100%;
 border: 1px solid #d0d7de;
}

.create-repository{
  display: flex;
  flex-direction: row;
}

.card{
 margin: 0 8px;
 width: 100%;
 height: 100%;
}

.card-body{
  padding: 16px;
}

.advice{
  display: flex;
  flex-direction: column;
 width: 100%;
 height: 100%;
}

.choose-type{
  display: flex;
  flex-direction: column;

}


.public{

}

.private{

}

.create-button{


}



.advice-search{
  display: flex;
  flex-direction: row;
}

.profile-box{
  display: flex;
  height: 80%;
  width: 80%;
  border: 1px solid #d0d7de;
}
.profile-box{
  display: flex;
  flex-direction: column;

}

.create-readme{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.about-me{
  display: flex;
  flex: 1;
  border-top: 1px solid #afb8c1;
  background-color: #f6f8fa;

}

.numbers{
  display: flex;
  flex-direction: column;
}
.list{
  display: flex;
  flex-direction: row;
}


.right {
  padding: 0 24px;
  margin-top: 32px;
  max-width: 350px;
}
